spec:
  inputs:
    sonar-quality-gate-enabled:
      description: 'Enables SonarQube [Quality Gate](https://docs.sonarsource.com/sonarqube-server/latest/quality-standards-administration/managing-quality-gates/introduction/) verification.'
      type: boolean
      default: true

---

stages:
  - build
  - test
  - publish
  - container-scanning
  - release

include:
  - component: $CI_SERVER_FQDN/zeta/zeta-ci-cd-components/dependency-check-mvn@v0.4.0
    inputs:
      image: "$CI_REGISTRY/zeta/devops/ci-images/maven:3.9-eclipse-temurin-21-zeta-0"

  - component: $CI_SERVER_FQDN/zeta/zeta-ci-cd-components/container-scanning@v0.4.0
    inputs:
      analyzer-image: $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/aquasec/trivy:latest
      cs-image: "$CI_REGISTRY/zeta/zeta-guard/keycloak-zeta:$CI_COMMIT_REF_SLUG"
      job-dependencies: [ deploy ]
      job-stage: container-scanning
      severity: UNKNOWN,HIGH,CRITICAL
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

default:
  image: $CI_REGISTRY/zeta/devops/ci-images/maven:3.9-eclipse-temurin-21-zeta-0
  tags: [ zeta ]
  cache:
    paths:
      - .m2/repository

  services:
    - name: docker:24.0.5-dind
      variables:
        HEALTHCHECK_TCP_PORT: "2376"

  before_script: |
    printf "%s" "$CI_DEPENDENCY_PROXY_PASSWORD" | docker login "$CI_DEPENDENCY_PROXY_SERVER" -u "$CI_DEPENDENCY_PROXY_USER" --password-stdin
    printf "%s" "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" --password-stdin
    printf "Executing mvn %s -P %s verify" "$MAVEN_CLI_OPTS" "$MAVEN_PROFILES"

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: /certs
  DOCKER_CERT_PATH: $DOCKER_TLS_CERTDIR/client
  DOCKER_TLS_VERIFY: "1"
  IMAGE_NAME: $CI_REGISTRY_IMAGE
  IMAGE_TAG: $CI_COMMIT_REF_SLUG

  # see also: https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Maven.gitlab-ci.yml
  # NOTE: we use --settings ci_settings.xml for all commands, because we want to use the
  # Azure DevOps mirror setting from it.
  MAVEN_CLI_OPTS: >-
    --no-transfer-progress
    --errors
    --fail-at-end
    --show-version
    --settings ci_settings.xml
    -DinstallAtEnd=true
    -DdeployAtEnd=true
    -Ddocker.repo=$CI_REGISTRY
    -Ddocker.tag=$IMAGE_TAG
    -Ddocker.keycloak.image=$CI_REGISTRY/zeta/devops/ci-images/mirror/keycloak

  MAVEN_OPTS: >-
    -Dstyle.color=always
    -Djansi.passthrough=true
    -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository
    -Dhttps.protocols=TLSv1.2
    -Djava.awt.headless=true

  MAVEN_PROFILES: coverage,integration-tests,gitlab

  # NOTE: trailing slash is important
  TESTCONTAINERS_HUB_IMAGE_NAME_PREFIX: $CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX/
  IMAGE_KEYCLOAK_CONFIG: $CI_REGISTRY/zeta/zeta-guard/keycloak-config-cli:main

build:
  stage: build
  script:
    - |
      mvn $MAVEN_CLI_OPTS -P $MAVEN_PROFILES verify
    - |
      jacoco_reports=$(find aggregate-code-coverage -name "jacoco.csv")

      if [[ -n "$jacoco_reports" ]]
      then
        echo -e "[\\e[1;94mINFO\\e[0m] --- \\e[32mJaCoCo report(s) found\\e[0m (\\e[33;1m${jacoco_reports}\\e[0m): output"
        # shellcheck disable=SC2046,SC2086
        awk -F',' '{ instructions += $4 + $5; covered += $5 } END { print covered"/"instructions " instructions covered"; print 100*covered/instructions "% covered" }' $(find aggregate-code-coverage -name "jacoco.csv")
      else
        echo -e "[\\e[1;94mINFO\\e[0m] --- \\e[32mJaCoCo report(s) not found\\e[0m: skip"
      fi
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: jacoco
        path: "aggregate-code-coverage/target/site/jacoco-aggregate/jacoco.xml"
    paths:
      - "**/target/reports/"
      - "**/target/site/"
  coverage: '/^(\d+\.?\d*\%) covered$/'

mvn-sonar:
  cache:
    key: "$CI_COMMIT_REF_SLUG-maven-sonar"
    paths:
      - ".m2/repository"
      - ".sonar/cache"
  rules:
    # exclude if $SONAR_HOST_URL not set
    - if: '($SONAR_HOST_URL == null || $SONAR_HOST_URL == "")'
      when: never
#    - when: on_success
    - when: never
  script:
    - >-
      mvn ${TRACE:+-Dsonar.verbose=true} $MAVEN_CLI_OPTS
      ${SONAR_QUALITY_GATE_ENABLED:+-Dsonar.qualitygate.wait=$SONAR_QUALITY_GATE_ENABLED}
      sonar:sonar
      -Dsonar.links.homepage=${CI_PROJECT_URL}
      -Dsonar.links.ci=${CI_PROJECT_URL}/-/pipelines
      -Dsonar.links.issue=${CI_PROJECT_URL}/-/issues
  stage: test
  variables:
    SONAR_QUALITY_GATE_ENABLED: $[[ inputs.sonar-quality-gate-enabled ]]
    # see: https://docs.sonarsource.com/sonarqube-server/latest/devops-platform-integration/gitlab-integration/setting-up-at-project-level/
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar" # Defines the location of the analysis task cache
    GIT_DEPTH: 0 # Tells git to fetch all the branches of the project, required by the analysis task

deploy:
  stage: publish
  # NOTE: maven.install.skip to avoid „snapshot race” because .m2/repository is cached
  script: |
    mvn $MAVEN_CLI_OPTS \
      -DaltDeploymentRepository=gitlab::$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/maven \
      -DskipTests -DskipITs \
      -Dmaven.install.skip=true \
      -P gitlab \
      deploy

    docker push "$IMAGE_NAME:$IMAGE_TAG"
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

release:
  variables:
    IMAGE_TAG: $CI_COMMIT_TAG
  stage: release
  script: |
    mvn versions:set -DnewVersion=${CI_COMMIT_TAG}
    mvn $MAVEN_CLI_OPTS \
      -DaltDeploymentRepository=gitlab::$CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/maven \
      -DskipTests \
      -Dmaven.install.skip=true \
      -P gitlab \
      deploy
    docker push "$IMAGE_NAME:$IMAGE_TAG"
  rules:
    - if: $CI_COMMIT_TAG

trigger_helm:
  stage: publish
  needs:
    - job: deploy
      optional: true
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  trigger:
    project: zeta/devops/zeta-guard-helm
    branch: main
    strategy: depend
  variables:
    KEYCLOAK_IMAGE_TAG: "$CI_COMMIT_REF_SLUG"
    PEPPROXY_IMAGE_TAG: "main"
